In [1]:
#pip install summarytools

In [2]:
#Importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
%matplotlib inline
from sklearn import metrics
import summarytools as st
from datetime import datetime

In [3]:
#storing dataset to variable
Prem_df = pd.read_csv("matches-1.csv")
Prem_df.head()

,Unnamed: 0,date,time,comp,round,day,venue,result,gf,ga,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,0,2020-09-21,20:15 (21:15),Premier League,Matchweek 2,Mon,Away,W,3,1,...,Match Report,NaN,13,8,21.1,2,1,1,2024,Manchester City
1,2,2020-09-27,16:30 (17:30),Premier League,Matchweek 3,Sun,Home,L,2,5,...,Match Report,NaN,16,5,19.8,1,0,0,2024,Manchester City
2,4,2020-10-03,17:30 (18:30),Premier League,Matchweek 4,Sat,Away,D,1,1,...,Match Report,NaN,23,1,18.2,1,0,0,2024,Manchester City
3,5,2020-10-17,17:30 (18:30),Premier League,Matchweek 5,Sat,Home,W,1,0,...,Match Report,NaN,13,5,17.7,0,0,0,2024,Manchester City
4,7,2020-10-24,12:30 (13:30),Premier League,Matchweek 6,Sat,Away,D,1,1,...,Match Report,NaN,14,7,20.9,1,0,0,2024,Manchester City

In [4]:
#I want to be able to view all columns at once so I use the set option fucntion in pandas library.
pd.set_option("display.max_columns", None)

In [5]:
#sorting the order of the seasons into correct order
#Prem_df["season"] = Prem_df["season"].sort_values().reset_index(drop=True)

In [6]:
Prem_df["comp"].unique()

array(['Premier League'], dtype=object)

In [7]:
Prem_df.shape

(4788, 28)

In [8]:
Prem_df.describe()

,Unnamed: 0,gf,ga,xg,xga,poss,attendance,notes,sh,sot,dist,fk,pk,pkatt,season
count,4788.000000,4788.000000,4788.000000,4788.000000,4788.000000,4788.000000,3155.000000,0.0,4788.000000,4788.000000,4786.000000,4788.000000,4788.000000,4788.00000,4788.000000
mean,63.044069,1.447995,1.405388,1.396512,1.364745,50.432957,38397.586688,NaN,12.619256,4.261278,17.356247,0.453216,0.118212,0.14599,2022.365079
std,42.865191,1.312635,1.286927,0.828847,0.814947,12.810958,17595.849137,NaN,5.548444,2.459963,3.049341,0.665250,0.342362,0.37937,1.461850
min,0.000000,0.000000,0.000000,0.000000,0.000000,18.000000,2000.000000,NaN,0.000000,0.000000,5.300000,0.000000,0.000000,0.00000,2020.000000
25%,28.000000,0.000000,0.000000,0.800000,0.700000,41.000000,25513.500000,NaN,9.000000,2.000000,15.400000,0.000000,0.000000,0.00000,2021.000000
50%,62.000000,1.000000,1.000000,1.300000,1.200000,51.000000,36347.000000,NaN,12.000000,4.000000,17.200000,0.000000,0.000000,0.00000,2023.000000
75%,87.000000,2.000000,2.000000,1.900000,1.800000,60.000000,53235.500000,NaN,16.000000,6.000000,19.100000,1.000000,0.000000,0.00000,2024.000000
max,182.000000,9.000000,9.000000,7.000000,7.000000,82.000000,75546.000000,NaN,36.000000,15.000000,39.900000,4.000000,3.000000,3.00000,2024.000000

In [9]:
Prem_df.isna().sum()

Unnamed: 0         0
date               0
time               0
comp               0
round              0
day                0
venue              0
result             0
gf                 0
ga                 0
opponent           0
xg                 0
xga                0
poss               0
attendance      1633
captain            0
formation          0
referee            0
match report       0
notes           4788
sh                 0
sot                0
dist               2
fk                 0
pk                 0
pkatt              0
season             0
team               0
dtype: int64

In [10]:
st.dfSummary(Prem_df)

### deleting rows with non premier league teams !!!

In [11]:
Prem_df["opponent"].unique()

array(['Wolves', 'Leicester City', 'Leeds United', 'Arsenal', 'West Ham',
       'Sheffield Utd', 'Liverpool', 'Tottenham', 'Burnley', 'Fulham',
       'Manchester Utd', 'West Brom', 'Southampton', 'Newcastle Utd',
       'Chelsea', 'Brighton', 'Crystal Palace', 'Aston Villa', 'Everton',
       'Manchester City', 'Norwich City', 'Bournemouth', 'Watford',
       "Nott'ham Forest", 'Luton Town', 'Brentford'], dtype=object)

In [12]:
Prem_df["team"].unique()

array(['Manchester City', 'Manchester United', 'Liverpool', 'Chelsea',
       'Leicester City', 'West Ham United', 'Tottenham Hotspur',
       'Arsenal', 'Leeds United', 'Everton', 'Aston Villa',
       'Newcastle United', 'Wolverhampton Wanderers', 'Crystal Palace',
       'Southampton', 'Brighton and Hove Albion', 'Burnley', 'Fulham',
       'West Bromwich Albion', 'Sheffield United', 'Bournemouth',
       'Brentford', 'Nottingham Forest', 'Luton Town', 'Watford',
       'Norwich City'], dtype=object)

In [13]:
#Dropping colums that I know have no relevance based off CA2
drop_columns = Prem_df[["season","pkatt","pk","Unnamed: 0","attendance", "notes","captain","formation", "referee", "match report","comp","round"]]

In [14]:
Prem_df.drop(drop_columns, axis=1, inplace=True)

In [15]:
Prem_df.shape

(4788, 16)

In [16]:
Prem_df

,date,time,day,venue,result,gf,ga,opponent,xg,xga,poss,sh,sot,dist,fk,team
0,2020-09-21,20:15 (21:15),Mon,Away,W,3,1,Wolves,1.9,0.6,65,13,8,21.1,2,Manchester City
1,2020-09-27,16:30 (17:30),Sun,Home,L,2,5,Leicester City,0.9,2.9,72,16,5,19.8,1,Manchester City
2,2020-10-03,17:30 (18:30),Sat,Away,D,1,1,Leeds United,1.2,2.4,49,23,1,18.2,1,Manchester City
3,2020-10-17,17:30 (18:30),Sat,Home,W,1,0,Arsenal,1.3,0.9,58,13,5,17.7,0,Manchester City
4,2020-10-24,12:30 (13:30),Sat,Away,D,1,1,West Ham,1.0,0.3,69,14,7,20.9,1,Manchester City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4783,2020-07-07,18:00 (19:00),Tue,Away,L,1,2,Watford,1.2,1.2,56,12,3,16.9,1,Norwich City
4784,2020-07-11,12:30 (13:30),Sat,Home,L,0,4,West Ham,0.6,3.5,53,11,2,19.8,1,Norwich City
4785,2020-07-14,20:15 (21:15),Tue,Away,L,0,1,Chelsea,0.1,2.5,33,2,0,20.6,0,Norwich City
4786,2020-07-18,17:30 (18:30),Sat,Home,L,0,2,Burnley,0.3,1.8,42,6,2,13.4,0,Norwich City
4787,2020-07-26,16:00 (17:00),Sun,Away,L,0,5,Manchester City,1.0,3.2,27,5,4,19.8,0,Norwich City

In [17]:
#Prem_df["date"] = pd.to_datetime(Prem_df["date"], format='%Y-%m-%d', errors='coerce')

In [18]:
Prem_df['time'] = Prem_df["time"].str.split().str[0]
#Prem_df['time'] = pd.to_datetime(Prem_df["time"].str.split().str[0], format='%H:%M').dt.time

In [19]:
Prem_df['day'].unique()

array(['Mon', 'Sun', 'Sat', 'Tue', 'Wed', 'Fri', 'Thu'], dtype=object)

In [20]:
Prem_df

,date,time,day,venue,result,gf,ga,opponent,xg,xga,poss,sh,sot,dist,fk,team
0,2020-09-21,20:15,Mon,Away,W,3,1,Wolves,1.9,0.6,65,13,8,21.1,2,Manchester City
1,2020-09-27,16:30,Sun,Home,L,2,5,Leicester City,0.9,2.9,72,16,5,19.8,1,Manchester City
2,2020-10-03,17:30,Sat,Away,D,1,1,Leeds United,1.2,2.4,49,23,1,18.2,1,Manchester City
3,2020-10-17,17:30,Sat,Home,W,1,0,Arsenal,1.3,0.9,58,13,5,17.7,0,Manchester City
4,2020-10-24,12:30,Sat,Away,D,1,1,West Ham,1.0,0.3,69,14,7,20.9,1,Manchester City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4783,2020-07-07,18:00,Tue,Away,L,1,2,Watford,1.2,1.2,56,12,3,16.9,1,Norwich City
4784,2020-07-11,12:30,Sat,Home,L,0,4,West Ham,0.6,3.5,53,11,2,19.8,1,Norwich City
4785,2020-07-14,20:15,Tue,Away,L,0,1,Chelsea,0.1,2.5,33,2,0,20.6,0,Norwich City
4786,2020-07-18,17:30,Sat,Home,L,0,2,Burnley,0.3,1.8,42,6,2,13.4,0,Norwich City
4787,2020-07-26,16:00,Sun,Away,L,0,5,Manchester City,1.0,3.2,27,5,4,19.8,0,Norwich City

In [21]:
Prem_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4788 entries, 0 to 4787
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      4788 non-null   object
 1   time      4788 non-null   object
 2   day       4788 non-null   object
 3   venue     4788 non-null   object
 4   result    4788 non-null   object
 5   gf        4788 non-null   int64
 6   ga        4788 non-null   int64
 7   opponent  4788 non-null   object
 8   xg        4788 non-null   float64
 9   xga       4788 non-null   float64
 10  poss      4788 non-null   int64
 11  sh        4788 non-null   int64
 12  sot       4788 non-null   int64
 13  dist      4786 non-null   float64
 14  fk        4788 non-null   int64
 15  team      4788 non-null   object
dtypes: float64(3), int64(6), object(7)
memory usage: 598.6+ KB

In [22]:
prem_Team_Drop = Prem_df
prem_Team_Drop

,date,time,day,venue,result,gf,ga,opponent,xg,xga,poss,sh,sot,dist,fk,team
0,2020-09-21,20:15,Mon,Away,W,3,1,Wolves,1.9,0.6,65,13,8,21.1,2,Manchester City
1,2020-09-27,16:30,Sun,Home,L,2,5,Leicester City,0.9,2.9,72,16,5,19.8,1,Manchester City
2,2020-10-03,17:30,Sat,Away,D,1,1,Leeds United,1.2,2.4,49,23,1,18.2,1,Manchester City
3,2020-10-17,17:30,Sat,Home,W,1,0,Arsenal,1.3,0.9,58,13,5,17.7,0,Manchester City
4,2020-10-24,12:30,Sat,Away,D,1,1,West Ham,1.0,0.3,69,14,7,20.9,1,Manchester City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4783,2020-07-07,18:00,Tue,Away,L,1,2,Watford,1.2,1.2,56,12,3,16.9,1,Norwich City
4784,2020-07-11,12:30,Sat,Home,L,0,4,West Ham,0.6,3.5,53,11,2,19.8,1,Norwich City
4785,2020-07-14,20:15,Tue,Away,L,0,1,Chelsea,0.1,2.5,33,2,0,20.6,0,Norwich City
4786,2020-07-18,17:30,Sat,Home,L,0,2,Burnley,0.3,1.8,42,6,2,13.4,0,Norwich City
4787,2020-07-26,16:00,Sun,Away,L,0,5,Manchester City,1.0,3.2,27,5,4,19.8,0,Norwich City

In [23]:
#dropping teams that arent playing in the premeier league in 2024
teamsDROP = ["Leeds United", "Burnley", "West Bromwich Albion", "Sheffield United", "Luton Town", "Watford"]
dropped_teams = prem_Team_Drop[~prem_Team_Drop['team'].isin(teamsDROP)]

In [24]:
#dropping opponents that arent playing in the premeier league in 2024
opponentsDROP = ["Leeds United", "Burnley", "West Brom", "Sheffield Utd", "Luton Town", "Watford"]
dropped_teams = prem_Team_Drop[~prem_Team_Drop['opponent'].isin(opponentsDROP)]
dropped_teams.reset_index(drop=True)

,date,time,day,venue,result,gf,ga,opponent,xg,xga,poss,sh,sot,dist,fk,team
0,2020-09-21,20:15,Mon,Away,W,3,1,Wolves,1.9,0.6,65,13,8,21.1,2,Manchester City
1,2020-09-27,16:30,Sun,Home,L,2,5,Leicester City,0.9,2.9,72,16,5,19.8,1,Manchester City
2,2020-10-17,17:30,Sat,Home,W,1,0,Arsenal,1.3,0.9,58,13,5,17.7,0,Manchester City
3,2020-10-24,12:30,Sat,Away,D,1,1,West Ham,1.0,0.3,69,14,7,20.9,1,Manchester City
4,2020-11-08,16:30,Sun,Home,D,1,1,Liverpool,1.4,1.2,54,6,2,20.6,0,Manchester City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4063,2020-07-01,18:00,Wed,Away,L,0,4,Arsenal,0.3,1.5,49,8,2,30.7,1,Norwich City
4064,2020-07-04,12:30,Sat,Home,L,0,1,Brighton,0.6,1.0,58,12,1,18.4,0,Norwich City
4065,2020-07-11,12:30,Sat,Home,L,0,4,West Ham,0.6,3.5,53,11,2,19.8,1,Norwich City
4066,2020-07-14,20:15,Tue,Away,L,0,1,Chelsea,0.1,2.5,33,2,0,20.6,0,Norwich City
4067,2020-07-26,16:00,Sun,Away,L,0,5,Manchester City,1.0,3.2,27,5,4,19.8,0,Norwich City

In [25]:
Prem_df_2024_teams = dropped_teams

# *======================================================*

# Wins by day to give insight into how team will perform

In [26]:
wins_time = Prem_df_2024_teams[["time","day","result","opponent","venue","team"]]

In [27]:
wins_time

       time  day result         opponent venue             team
0     20:15  Mon      W           Wolves  Away  Manchester City
1     16:30  Sun      L   Leicester City  Home  Manchester City
3     17:30  Sat      W          Arsenal  Home  Manchester City
4     12:30  Sat      D         West Ham  Away  Manchester City
6     16:30  Sun      D        Liverpool  Home  Manchester City
...     ...  ...    ...              ...   ...              ...
4781  18:00  Wed      L          Arsenal  Away     Norwich City
4782  12:30  Sat      L         Brighton  Home     Norwich City
4784  12:30  Sat      L         West Ham  Home     Norwich City
4785  20:15  Tue      L          Chelsea  Away     Norwich City
4787  16:00  Sun      L  Manchester City  Away     Norwich City

[4068 rows x 6 columns]

In [28]:
# wins=wins_time[wins_time["result"]=="W"],wins_time[wins_time["day"]=="Tue"].groupby("team")["result"].count().sort_values(ascending=False)
# wins

In [29]:
#VG_PS2 = VG_data_2[(VG_data_2["Platform"] == platfrom)];
team1 ="Manchester United"
team = wins_time[(wins_time["team"] == team1)];

In [30]:
team

       time  day result        opponent venue               team
38    17:30  Sat      L  Crystal Palace  Home  Manchester United
39    12:30  Sat      W        Brighton  Away  Manchester United
40    16:30  Sun      L       Tottenham  Home  Manchester United
41    20:00  Sat      W   Newcastle Utd  Away  Manchester United
42    17:30  Sat      D         Chelsea  Home  Manchester United
...     ...  ...    ...             ...   ...                ...
4137  20:15  Thu      W     Aston Villa  Away  Manchester United
4138  20:00  Mon      D     Southampton  Home  Manchester United
4139  20:15  Thu      W  Crystal Palace  Away  Manchester United
4140  18:00  Wed      D        West Ham  Home  Manchester United
4141  16:00  Sun      W  Leicester City  Away  Manchester United

[224 rows x 6 columns]

In [31]:
# time_day = wins_time[["time", "day"]]
# time_day

In [32]:
team["TIME and DAY"] = team['day'] + ' ' + team['time']

/var/folders/zj/v6srnlys1bg34vwc_mjk_x_80000gn/T/ipykernel_4810/1786284333.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team["TIME and DAY"] = team['day'] + ' ' + team['time']

In [33]:
drop_cols_time = team[["time", "day","team"]]
team.drop(drop_cols_time, axis = 1, inplace = True)

/var/folders/zj/v6srnlys1bg34vwc_mjk_x_80000gn/T/ipykernel_4810/761553771.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team.drop(drop_cols_time, axis = 1, inplace = True)

In [34]:
day_results = team.value_counts()
DF_day_results = pd.DataFrame(day_results)
DF_day_results.reset_index(inplace=True)

## Check teams record agaisnt particular opponents on particular day/time

In [35]:
#Insert team in the opponnent varibale depending on who team is playing
Opponent = "Newcastle Utd"
opponent_day_stats = DF_day_results[(DF_day_results["opponent"] == Opponent)];
opponent_day_stats

    result       opponent venue TIME and DAY  count
3        L  Newcastle Utd  Away    Sun 16:30      3
34       W  Newcastle Utd  Home    Thu 17:30      2
36       W  Newcastle Utd  Home    Sun 19:00      2
37       W  Newcastle Utd  Away    Sat 20:00      2
68       W  Newcastle Utd  Home    Sat 15:00      1
74       W  Newcastle Utd  Home    Wed 20:00      1
91       D  Newcastle Utd  Away    Mon 20:00      1
107      L  Newcastle Utd  Away    Sat 20:00      1
131      D  Newcastle Utd  Home    Sun 14:00      1

# *======================================================*

## Average Expected Goals per Season

### I need to split the data into different seasons by using the date feature as the season feature is incorrect data.

In [36]:
Prem_df_XG = Prem_df

In [37]:
#season ranges
start_date_2020 = "2020-09-12" 
end_date_2021 = "2021-05-23"

start_date_2021 = "2021-08-13" 
end_date_2022 = "2022-05-22"

start_date_2022 = "2022-08-05" 
end_date_2023 = "2023-05-28"

start_date_2023 = "2023-08-11" 
end_date_2024 = "2024-05-19"

In [38]:
#new datasets for each season
PL_Season_20_21 = Prem_df_XG[(Prem_df_XG["date"] >= start_date_2020) & (Prem_df_XG["date"] <= end_date_2021)] 
PL_Season_21_22 = Prem_df_XG[(Prem_df_XG["date"] >= start_date_2021) & (Prem_df_XG["date"] <= end_date_2022)] 
PL_Season_22_23 = Prem_df_XG[(Prem_df_XG["date"] >= start_date_2022) & (Prem_df_XG["date"] <= end_date_2023)] 
PL_Season_23_24 = Prem_df_XG[(Prem_df_XG["date"] >= start_date_2023) & (Prem_df_XG["date"] <= end_date_2024)] 
PL_Season_23_24

,date,time,day,venue,result,gf,ga,opponent,xg,xga,poss,sh,sot,dist,fk,team
988,2023-08-11,20:00,Fri,Away,W,3,0,Burnley,1.9,0.3,65,17,8,13.9,0,Manchester City
989,2023-08-19,20:00,Sat,Home,W,1,0,Newcastle Utd,1.0,0.3,59,14,4,17.9,0,Manchester City
990,2023-08-27,14:00,Sun,Away,W,2,1,Sheffield Utd,3.5,0.7,79,29,9,17.3,2,Manchester City
991,2023-09-02,15:00,Sat,Home,W,5,1,Fulham,2.2,1.4,68,6,4,14.8,0,Manchester City
992,2023-09-16,15:00,Sat,Away,W,3,1,West Ham,3.6,0.9,68,29,13,16.4,1,Manchester City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1743,2024-04-24,20:00,Wed,Away,L,2,4,Manchester Utd,0.8,2.9,29,10,4,17.8,1,Sheffield United
1744,2024-04-27,15:00,Sat,Away,L,1,5,Newcastle Utd,1.5,3.1,40,15,4,13.5,0,Sheffield United
1745,2024-05-04,15:00,Sat,Home,L,1,3,Nott'ham Forest,2.2,1.5,54,16,4,18.0,0,Sheffield United
1746,2024-05-11,15:00,Sat,Away,L,0,1,Everton,0.6,2.3,42,13,1,21.0,0,Sheffield United
1747,2024-05-19,16:00,Sun,Home,L,0,3,Tottenham,1.0,3.1,25,6,1,18.0,1,Sheffield United

In [39]:
Prem_df_XG_2024=PL_Season_23_24

In [40]:
COLS_TO_DROP_XG = Prem_df_XG_2024[["time","day","fk"]]
Prem_df_XG_2024.drop(COLS_TO_DROP_XG, axis=1, inplace = True)
Prem_df_XG_2024.head()

/var/folders/zj/v6srnlys1bg34vwc_mjk_x_80000gn/T/ipykernel_4810/902895192.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Prem_df_XG_2024.drop(COLS_TO_DROP_XG, axis=1, inplace = True)

,date,venue,result,gf,ga,opponent,xg,xga,poss,sh,sot,dist,team
988,2023-08-11,Away,W,3,0,Burnley,1.9,0.3,65,17,8,13.9,Manchester City
989,2023-08-19,Home,W,1,0,Newcastle Utd,1.0,0.3,59,14,4,17.9,Manchester City
990,2023-08-27,Away,W,2,1,Sheffield Utd,3.5,0.7,79,29,9,17.3,Manchester City
991,2023-09-02,Home,W,5,1,Fulham,2.2,1.4,68,6,4,14.8,Manchester City
992,2023-09-16,Away,W,3,1,West Ham,3.6,0.9,68,29,13,16.4,Manchester City

In [41]:
TEAM_XG_1 = "Manchester City"
TEAM_XG = Prem_df_XG_2024[(Prem_df_XG_2024["team"] == TEAM_XG_1)]
TEAM_XG

,date,venue,result,gf,ga,opponent,xg,xga,poss,sh,sot,dist,team
988,2023-08-11,Away,W,3,0,Burnley,1.9,0.3,65,17,8,13.9,Manchester City
989,2023-08-19,Home,W,1,0,Newcastle Utd,1.0,0.3,59,14,4,17.9,Manchester City
990,2023-08-27,Away,W,2,1,Sheffield Utd,3.5,0.7,79,29,9,17.3,Manchester City
991,2023-09-02,Home,W,5,1,Fulham,2.2,1.4,68,6,4,14.8,Manchester City
992,2023-09-16,Away,W,3,1,West Ham,3.6,0.9,68,29,13,16.4,Manchester City
993,2023-09-23,Home,W,2,0,Nott'ham Forest,1.3,1.0,57,7,4,17.2,Manchester City
994,2023-09-30,Away,L,1,2,Wolves,0.9,0.4,68,23,8,19.3,Manchester City
995,2023-10-08,Away,L,0,1,Arsenal,0.5,0.4,51,4,0,14.9,Manchester City
996,2023-10-21,Home,W,2,1,Brighton,0.8,0.8,55,10,5,18.8,Manchester City
997,2023-10-29,Away,W,3,0,Manchester Utd,4.0,0.9,60,20,9,17.2,Manchester City
998,2023-11-04,Home,W,6,1,Bournemouth,1.9,0.9,65,21,8,16.4,Manchester City
999,2023-11-12,Away,D,4,4,Chelsea,2.9,2.9,55,14,9,16.6,Manchester City
1000,2023-11-25,Home,D,1,1,Liverpool,1.3,0.6,59,16,5,16.3,Manchester City
1001,2023-12-03,Home,D,3,3,Tottenham,2.6,0.5,55,17,4,13.4,Manchester City
1002,2023-12-06,Away,L,0,1,Aston Villa,0.6,2.3,54,2,2,7.4,Manchester City
1003,2023-12-10,Away,W,2,1,Luton Town,1.6,0.3,65,18,6,18.7,Manchester City
1004,2023-12-16,Home,D,2,2,Crystal Palace,1.6,1.8,74,19,9,18.2,Manchester City
1005,2023-12-27,Away,W,3,1,Everton,2.4,1.0,72,22,8,19.5,Manchester City
1006,2023-12-30,Home,W,2,0,Sheffield Utd,2.2,0.3,80,18,4,17.4,Manchester City
1007,2024-01-13,Away,W,3,2,Newcastle Utd,3.0,1.3,72,27,11,19.3,Manchester City
1008,2024-01-31,Home,W,3,1,Burnley,1.7,1.4,74,14,4,15.8,Manchester City
1009,2024-02-05,Away,W,3,1,Brentford,2.1,1.0,72,25,15,19.2,Manchester City
1010,2024-02-10,Home,W,2,0,Everton,1.6,0.3,72,19,3,17.4,Manchester City
1011,2024-02-17,Home,D,1,1,Chelsea,2.6,1.4,70,31,5,15.9,Manchester City
1012,2024-02-20,Home,W,1,0,Brentford,2.3,0.4,70,25,10,17.6,Manchester City
1013,2024-02-24,Away,W,1,0,Bournemouth,1.6,0.9,62,15,6,15.5,Manchester City
1014,2024-03-03,Home,W,3,1,Manchester Utd,3.3,0.2,73,27,8,17.7,Manchester City
1015,2024-03-10,Away,D,1,1,Liverpool,1.6,2.7,47,10,6,18.6,Manchester City
1016,2024-03-31,Home,D,0,0,Arsenal,1.0,0.7,72,12,1,14.2,Manchester City
1017,2024-04-03,Home,W,4,1,Aston Villa,3.4,0.8,67,25,11,15.9,Manchester City
1018,2024-04-06,Away,W,4,2,Crystal Palace,1.9,1.1,75,18,8,16.1,Manchester City
1019,2024-04-13,Home,W,5,1,Luton Town,4.2,0.5,73,36,12,16.9,Manchester City
1020,2024-04-25,Away,W,4,0,Brighton,1.4,0.6,64,14,6,17.0,Manchester City
1021,2024-04-28,Away,W,2,0,Nott'ham Forest,0.9,1.9,66,11,5,18.7,Manchester City
1022,2024-05-04,Home,W,5,1,Wolves,3.7,0.3,58,18,10,15.3,Manchester City
1023,2024-05-11,Away,W,4,0,Fulham,3.2,0.1,64,15,8,17.6,Manchester City
1024,2024-05-14,Away,W,2,0,Tottenham,2.4,1.7,47,7,4,14.5,Manchester City
1025,2024-05-19,Home,W,3,1,West Ham,1.9,0.4,71,28,12,17.9,Manchester City

In [46]:
home = "Home"
TEAM_XG_home = TEAM_XG[(TEAM_XG["venue"] == home)]
TEAM_XG_home.reset_index(drop=True, inplace=True)
TEAM_XG_home

,date,venue,result,gf,ga,opponent,xg,xga,poss,sh,sot,dist,team
0,2023-08-19,Home,W,1,0,Newcastle Utd,1.0,0.3,59,14,4,17.9,Manchester City
1,2023-09-02,Home,W,5,1,Fulham,2.2,1.4,68,6,4,14.8,Manchester City
2,2023-09-23,Home,W,2,0,Nott'ham Forest,1.3,1.0,57,7,4,17.2,Manchester City
3,2023-10-21,Home,W,2,1,Brighton,0.8,0.8,55,10,5,18.8,Manchester City
4,2023-11-04,Home,W,6,1,Bournemouth,1.9,0.9,65,21,8,16.4,Manchester City
5,2023-11-25,Home,D,1,1,Liverpool,1.3,0.6,59,16,5,16.3,Manchester City
6,2023-12-03,Home,D,3,3,Tottenham,2.6,0.5,55,17,4,13.4,Manchester City
7,2023-12-16,Home,D,2,2,Crystal Palace,1.6,1.8,74,19,9,18.2,Manchester City
8,2023-12-30,Home,W,2,0,Sheffield Utd,2.2,0.3,80,18,4,17.4,Manchester City
9,2024-01-31,Home,W,3,1,Burnley,1.7,1.4,74,14,4,15.8,Manchester City
10,2024-02-10,Home,W,2,0,Everton,1.6,0.3,72,19,3,17.4,Manchester City
11,2024-02-17,Home,D,1,1,Chelsea,2.6,1.4,70,31,5,15.9,Manchester City
12,2024-02-20,Home,W,1,0,Brentford,2.3,0.4,70,25,10,17.6,Manchester City
13,2024-03-03,Home,W,3,1,Manchester Utd,3.3,0.2,73,27,8,17.7,Manchester City
14,2024-03-31,Home,D,0,0,Arsenal,1.0,0.7,72,12,1,14.2,Manchester City
15,2024-04-03,Home,W,4,1,Aston Villa,3.4,0.8,67,25,11,15.9,Manchester City
16,2024-04-13,Home,W,5,1,Luton Town,4.2,0.5,73,36,12,16.9,Manchester City
17,2024-05-04,Home,W,5,1,Wolves,3.7,0.3,58,18,10,15.3,Manchester City
18,2024-05-19,Home,W,3,1,West Ham,1.9,0.4,71,28,12,17.9,Manchester City

In [52]:
#Average amount of goals scored by home team in season
homeGames = TEAM_XG_home["opponent"].count()
totalXG_Home = TEAM_XG_home["xg"].sum()
avgXG_Home = totalXG_Home/homeGames
avgXG_Home

2.136842105263158