In [1]:
#pip install summarytools

In [2]:
#Importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
%matplotlib inline
from sklearn import metrics
import summarytools as st
from datetime import datetime

In [3]:
#I want to be able to view all columns at once so I use the set option fucntion in pandas library.
pd.set_option("display.max_columns", None)
pd.options.mode.chained_assignment = None

In [4]:
#storing dataset to variable
Prem_df = pd.read_csv("matches-1.csv")
Prem_df.head()

,Unnamed: 0,date,time,comp,round,day,venue,result,gf,ga,opponent,xg,xga,poss,attendance,captain,formation,referee,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,0,2020-09-21,20:15 (21:15),Premier League,Matchweek 2,Mon,Away,W,3,1,Wolves,1.9,0.6,65,NaN,Fernandinho,4-2-3-1,Andre Marriner,Match Report,NaN,13,8,21.1,2,1,1,2024,Manchester City
1,2,2020-09-27,16:30 (17:30),Premier League,Matchweek 3,Sun,Home,L,2,5,Leicester City,0.9,2.9,72,NaN,Fernandinho,4-2-3-1,Michael Oliver,Match Report,NaN,16,5,19.8,1,0,0,2024,Manchester City
2,4,2020-10-03,17:30 (18:30),Premier League,Matchweek 4,Sat,Away,D,1,1,Leeds United,1.2,2.4,49,NaN,Kevin De Bruyne,4-3-3,Mike Dean,Match Report,NaN,23,1,18.2,1,0,0,2024,Manchester City
3,5,2020-10-17,17:30 (18:30),Premier League,Matchweek 5,Sat,Home,W,1,0,Arsenal,1.3,0.9,58,NaN,Raheem Sterling,3-1-4-2,Chris Kavanagh,Match Report,NaN,13,5,17.7,0,0,0,2024,Manchester City
4,7,2020-10-24,12:30 (13:30),Premier League,Matchweek 6,Sat,Away,D,1,1,West Ham,1.0,0.3,69,NaN,Raheem Sterling,4-3-3,Anthony Taylor,Match Report,NaN,14,7,20.9,1,0,0,2024,Manchester City

In [5]:
#sorting the order of the seasons into correct order
#Prem_df["season"] = Prem_df["season"].sort_values().reset_index(drop=True)

In [6]:
Prem_df["comp"].unique()

array(['Premier League'], dtype=object)

In [7]:
Prem_df.shape

(4788, 28)

In [8]:
Prem_df.describe()

,Unnamed: 0,gf,ga,xg,xga,poss,attendance,notes,sh,sot,dist,fk,pk,pkatt,season
count,4788.000000,4788.000000,4788.000000,4788.000000,4788.000000,4788.000000,3155.000000,0.0,4788.000000,4788.000000,4786.000000,4788.000000,4788.000000,4788.00000,4788.000000
mean,63.044069,1.447995,1.405388,1.396512,1.364745,50.432957,38397.586688,NaN,12.619256,4.261278,17.356247,0.453216,0.118212,0.14599,2022.365079
std,42.865191,1.312635,1.286927,0.828847,0.814947,12.810958,17595.849137,NaN,5.548444,2.459963,3.049341,0.665250,0.342362,0.37937,1.461850
min,0.000000,0.000000,0.000000,0.000000,0.000000,18.000000,2000.000000,NaN,0.000000,0.000000,5.300000,0.000000,0.000000,0.00000,2020.000000
25%,28.000000,0.000000,0.000000,0.800000,0.700000,41.000000,25513.500000,NaN,9.000000,2.000000,15.400000,0.000000,0.000000,0.00000,2021.000000
50%,62.000000,1.000000,1.000000,1.300000,1.200000,51.000000,36347.000000,NaN,12.000000,4.000000,17.200000,0.000000,0.000000,0.00000,2023.000000
75%,87.000000,2.000000,2.000000,1.900000,1.800000,60.000000,53235.500000,NaN,16.000000,6.000000,19.100000,1.000000,0.000000,0.00000,2024.000000
max,182.000000,9.000000,9.000000,7.000000,7.000000,82.000000,75546.000000,NaN,36.000000,15.000000,39.900000,4.000000,3.000000,3.00000,2024.000000

In [9]:
Prem_df.isna().sum()

Unnamed: 0         0
date               0
time               0
comp               0
round              0
day                0
venue              0
result             0
gf                 0
ga                 0
opponent           0
xg                 0
xga                0
poss               0
attendance      1633
captain            0
formation          0
referee            0
match report       0
notes           4788
sh                 0
sot                0
dist               2
fk                 0
pk                 0
pkatt              0
season             0
team               0
dtype: int64

In [10]:
st.dfSummary(Prem_df)

### deleting rows with non premier league teams !!!

In [11]:
Prem_df["opponent"].unique()

array(['Wolves', 'Leicester City', 'Leeds United', 'Arsenal', 'West Ham',
       'Sheffield Utd', 'Liverpool', 'Tottenham', 'Burnley', 'Fulham',
       'Manchester Utd', 'West Brom', 'Southampton', 'Newcastle Utd',
       'Chelsea', 'Brighton', 'Crystal Palace', 'Aston Villa', 'Everton',
       'Manchester City', 'Norwich City', 'Bournemouth', 'Watford',
       "Nott'ham Forest", 'Luton Town', 'Brentford'], dtype=object)

In [12]:
Prem_df["team"].unique()

array(['Manchester City', 'Manchester United', 'Liverpool', 'Chelsea',
       'Leicester City', 'West Ham United', 'Tottenham Hotspur',
       'Arsenal', 'Leeds United', 'Everton', 'Aston Villa',
       'Newcastle United', 'Wolverhampton Wanderers', 'Crystal Palace',
       'Southampton', 'Brighton and Hove Albion', 'Burnley', 'Fulham',
       'West Bromwich Albion', 'Sheffield United', 'Bournemouth',
       'Brentford', 'Nottingham Forest', 'Luton Town', 'Watford',
       'Norwich City'], dtype=object)

In [13]:
Prem_df.columns

Index(['Unnamed: 0', 'date', 'time', 'comp', 'round', 'day', 'venue', 'result',
       'gf', 'ga', 'opponent', 'xg', 'xga', 'poss', 'attendance', 'captain',
       'formation', 'referee', 'match report', 'notes', 'sh', 'sot', 'dist',
       'fk', 'pk', 'pkatt', 'season', 'team'],
      dtype='object')

In [14]:
PREM_df_Full=Prem_df[['date',  'round', 'venue', 'team','opponent','result',
             'formation','gf', 'ga', 'xg', 'xga', 'poss',
             'referee', 'sh', 'sot', 'dist',
               'fk', 'pk', 'pkatt']]

In [15]:
Prem_df.shape

(4788, 28)

In [16]:
Prem_df

,Unnamed: 0,date,time,comp,round,day,venue,result,gf,ga,opponent,xg,xga,poss,attendance,captain,formation,referee,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,0,2020-09-21,20:15 (21:15),Premier League,Matchweek 2,Mon,Away,W,3,1,Wolves,1.9,0.6,65,NaN,Fernandinho,4-2-3-1,Andre Marriner,Match Report,NaN,13,8,21.1,2,1,1,2024,Manchester City
1,2,2020-09-27,16:30 (17:30),Premier League,Matchweek 3,Sun,Home,L,2,5,Leicester City,0.9,2.9,72,NaN,Fernandinho,4-2-3-1,Michael Oliver,Match Report,NaN,16,5,19.8,1,0,0,2024,Manchester City
2,4,2020-10-03,17:30 (18:30),Premier League,Matchweek 4,Sat,Away,D,1,1,Leeds United,1.2,2.4,49,NaN,Kevin De Bruyne,4-3-3,Mike Dean,Match Report,NaN,23,1,18.2,1,0,0,2024,Manchester City
3,5,2020-10-17,17:30 (18:30),Premier League,Matchweek 5,Sat,Home,W,1,0,Arsenal,1.3,0.9,58,NaN,Raheem Sterling,3-1-4-2,Chris Kavanagh,Match Report,NaN,13,5,17.7,0,0,0,2024,Manchester City
4,7,2020-10-24,12:30 (13:30),Premier League,Matchweek 6,Sat,Away,D,1,1,West Ham,1.0,0.3,69,NaN,Raheem Sterling,4-3-3,Anthony Taylor,Match Report,NaN,14,7,20.9,1,0,0,2024,Manchester City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4783,87,2020-07-07,18:00 (19:00),Premier League,Matchweek 34,Tue,Away,L,1,2,Watford,1.2,1.2,56,NaN,Alexander Tettey,4-2-3-1,Anthony Taylor,Match Report,NaN,12,3,16.9,1,0,0,2020,Norwich City
4784,88,2020-07-11,12:30 (13:30),Premier League,Matchweek 35,Sat,Home,L,0,4,West Ham,0.6,3.5,53,NaN,Alexander Tettey,4-2-3-1,Kevin Friend,Match Report,NaN,11,2,19.8,1,0,0,2020,Norwich City
4785,89,2020-07-14,20:15 (21:15),Premier League,Matchweek 36,Tue,Away,L,0,1,Chelsea,0.1,2.5,33,NaN,Alexander Tettey,4-1-4-1,Jonathan Moss,Match Report,NaN,2,0,20.6,0,0,0,2020,Norwich City
4786,90,2020-07-18,17:30 (18:30),Premier League,Matchweek 37,Sat,Home,L,0,2,Burnley,0.3,1.8,42,NaN,Alexander Tettey,4-2-3-1,Kevin Friend,Match Report,NaN,6,2,13.4,0,0,0,2020,Norwich City
4787,91,2020-07-26,16:00 (17:00),Premier League,Matchweek 38,Sun,Away,L,0,5,Manchester City,1.0,3.2,27,NaN,Christoph Zimmermann,4-2-3-1,Craig Pawson,Match Report,NaN,5,4,19.8,0,0,0,2020,Norwich City

In [17]:
#Prem_df["date"] = pd.to_datetime(Prem_df["date"], format='%Y-%m-%d', errors='coerce')

In [18]:
Prem_df['time'] = Prem_df["time"].str.split().str[0]
#Prem_df['time'] = pd.to_datetime(Prem_df["time"].str.split().str[0], format='%H:%M').dt.time

In [19]:
Prem_df['day'].unique()

array(['Mon', 'Sun', 'Sat', 'Tue', 'Wed', 'Fri', 'Thu'], dtype=object)

In [20]:
Prem_df

,Unnamed: 0,date,time,comp,round,day,venue,result,gf,ga,opponent,xg,xga,poss,attendance,captain,formation,referee,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,0,2020-09-21,20:15,Premier League,Matchweek 2,Mon,Away,W,3,1,Wolves,1.9,0.6,65,NaN,Fernandinho,4-2-3-1,Andre Marriner,Match Report,NaN,13,8,21.1,2,1,1,2024,Manchester City
1,2,2020-09-27,16:30,Premier League,Matchweek 3,Sun,Home,L,2,5,Leicester City,0.9,2.9,72,NaN,Fernandinho,4-2-3-1,Michael Oliver,Match Report,NaN,16,5,19.8,1,0,0,2024,Manchester City
2,4,2020-10-03,17:30,Premier League,Matchweek 4,Sat,Away,D,1,1,Leeds United,1.2,2.4,49,NaN,Kevin De Bruyne,4-3-3,Mike Dean,Match Report,NaN,23,1,18.2,1,0,0,2024,Manchester City
3,5,2020-10-17,17:30,Premier League,Matchweek 5,Sat,Home,W,1,0,Arsenal,1.3,0.9,58,NaN,Raheem Sterling,3-1-4-2,Chris Kavanagh,Match Report,NaN,13,5,17.7,0,0,0,2024,Manchester City
4,7,2020-10-24,12:30,Premier League,Matchweek 6,Sat,Away,D,1,1,West Ham,1.0,0.3,69,NaN,Raheem Sterling,4-3-3,Anthony Taylor,Match Report,NaN,14,7,20.9,1,0,0,2024,Manchester City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4783,87,2020-07-07,18:00,Premier League,Matchweek 34,Tue,Away,L,1,2,Watford,1.2,1.2,56,NaN,Alexander Tettey,4-2-3-1,Anthony Taylor,Match Report,NaN,12,3,16.9,1,0,0,2020,Norwich City
4784,88,2020-07-11,12:30,Premier League,Matchweek 35,Sat,Home,L,0,4,West Ham,0.6,3.5,53,NaN,Alexander Tettey,4-2-3-1,Kevin Friend,Match Report,NaN,11,2,19.8,1,0,0,2020,Norwich City
4785,89,2020-07-14,20:15,Premier League,Matchweek 36,Tue,Away,L,0,1,Chelsea,0.1,2.5,33,NaN,Alexander Tettey,4-1-4-1,Jonathan Moss,Match Report,NaN,2,0,20.6,0,0,0,2020,Norwich City
4786,90,2020-07-18,17:30,Premier League,Matchweek 37,Sat,Home,L,0,2,Burnley,0.3,1.8,42,NaN,Alexander Tettey,4-2-3-1,Kevin Friend,Match Report,NaN,6,2,13.4,0,0,0,2020,Norwich City
4787,91,2020-07-26,16:00,Premier League,Matchweek 38,Sun,Away,L,0,5,Manchester City,1.0,3.2,27,NaN,Christoph Zimmermann,4-2-3-1,Craig Pawson,Match Report,NaN,5,4,19.8,0,0,0,2020,Norwich City

In [21]:
#Dropping colums that I know have no relevance based off CA2
drop_columns = Prem_df[["fk","season","pkatt","pk","Unnamed: 0","attendance", "notes","captain","formation", "referee", "match report","comp","round"]]
Prem_df.drop(drop_columns, axis=1, inplace=True)

In [22]:
Prem_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4788 entries, 0 to 4787
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      4788 non-null   object
 1   time      4788 non-null   object
 2   day       4788 non-null   object
 3   venue     4788 non-null   object
 4   result    4788 non-null   object
 5   gf        4788 non-null   int64
 6   ga        4788 non-null   int64
 7   opponent  4788 non-null   object
 8   xg        4788 non-null   float64
 9   xga       4788 non-null   float64
 10  poss      4788 non-null   int64
 11  sh        4788 non-null   int64
 12  sot       4788 non-null   int64
 13  dist      4786 non-null   float64
 14  team      4788 non-null   object
dtypes: float64(3), int64(5), object(7)
memory usage: 561.2+ KB

In [23]:
Prem_df.drop_duplicates(subset = ["date", "team", "opponent", "result"],inplace=True)
Prem_df.reset_index(drop=True, inplace=True)

In [24]:
dropped_teams = Prem_df

In [25]:
# # #dropping teams that arent playing in the premeier league in 2024
# teamsDROP = ["Leeds United", "Burnley","West Brom", "West Bromwich Albion", "Sheffield United", "Luton Town", "Watford"]
# dropped_teams = prem_Team_Drop[~prem_Team_Drop['team'].isin(teamsDROP)]

In [26]:
# #dropping opponents that arent playing in the premeier league in 2024
# opponentsDROP = ["Leeds United", "Burnley", "West Brom", "Sheffield Utd", "Luton Town", "Watford"]
# dropped_teams['opponent'] = prem_Team_Drop[~prem_Team_Drop['opponent'].isin(opponentsDROP)]
# dropped_teams.reset_index(drop=True,inplace=True)

In [27]:
#Filling two nan values in distance col with mean
dist_mean=dropped_teams["dist"].mean()
dropped_teams["dist"].fillna(dist_mean, inplace=True)

In [28]:
dropped_teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3800 entries, 0 to 3799
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      3800 non-null   object
 1   time      3800 non-null   object
 2   day       3800 non-null   object
 3   venue     3800 non-null   object
 4   result    3800 non-null   object
 5   gf        3800 non-null   int64
 6   ga        3800 non-null   int64
 7   opponent  3800 non-null   object
 8   xg        3800 non-null   float64
 9   xga       3800 non-null   float64
 10  poss      3800 non-null   int64
 11  sh        3800 non-null   int64
 12  sot       3800 non-null   int64
 13  dist      3800 non-null   float64
 14  team      3800 non-null   object
dtypes: float64(3), int64(5), object(7)
memory usage: 445.4+ KB

In [29]:
MANU = "Manchester United"
WESTHam = 'West Ham United'
BHOVE = 'Brighton and Hove Albion'
WBROM = 'West Bromwich Albion'
WOLVES = 'Wolverhampton Wanderers'
SPURS = 'Tottenham Hotspur'
NEWC = 'Newcastle United'
NOTSF = 'Nottingham Forest'

dropped_teams["opponent"].replace({'Manchester Utd': MANU,'West Ham':WESTHam, 'Brighton':BHOVE,
                            'West Brom':WBROM, 'Wolves':WOLVES, 'Tottenham':SPURS,
                            'Newcastle Utd':NEWC,"Nott'ham Forest":NOTSF},inplace = True)

In [30]:
#sorting out the time and day feature
dropped_teams["DAY & TIME"] = dropped_teams['day'] + ' ' + dropped_teams['time']

colDROPPING = dropped_teams[['day','time']]
dropped_teams.drop(colDROPPING, axis=1, inplace=True)

In [31]:
#Seperating into seperate seasons

#season ranges
start_date_2019 = "2019-08-09" 
end_date_2020 = "2020-07-26"

start_date_2020 = "2020-09-12" 
end_date_2021 = "2021-05-23"

start_date_2021 = "2021-08-13" 
end_date_2022 = "2022-05-22"

start_date_2022 = "2022-08-05" 
end_date_2023 = "2023-05-28"

start_date_2023 = "2023-08-11" 
end_date_2024 = "2024-05-19"

#new datasets for each season
PL_Season_19_20 = dropped_teams[(dropped_teams["date"] >= start_date_2019) & (dropped_teams["date"] <= end_date_2020)] 
PL_Season_20_21 = dropped_teams[(dropped_teams["date"] >= start_date_2020) & (dropped_teams["date"] <= end_date_2021)] 
PL_Season_21_22 = dropped_teams[(dropped_teams["date"] >= start_date_2021) & (dropped_teams["date"] <= end_date_2022)] 
PL_Season_22_23 = dropped_teams[(dropped_teams["date"] >= start_date_2022) & (dropped_teams["date"] <= end_date_2023)] 
PL_Season_23_24 = dropped_teams[(dropped_teams["date"] >= start_date_2023) & (dropped_teams["date"] <= end_date_2024)] 
#PL_Season_23_24

In [32]:
All_years = pd.concat([PL_Season_19_20,PL_Season_20_21,PL_Season_21_22,PL_Season_22_23,PL_Season_23_24], axis = 0)
All_years.reset_index(drop=True, inplace=True)
All_years.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3800 entries, 0 to 3799
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        3800 non-null   object
 1   venue       3800 non-null   object
 2   result      3800 non-null   object
 3   gf          3800 non-null   int64
 4   ga          3800 non-null   int64
 5   opponent    3800 non-null   object
 6   xg          3800 non-null   float64
 7   xga         3800 non-null   float64
 8   poss        3800 non-null   int64
 9   sh          3800 non-null   int64
 10  sot         3800 non-null   int64
 11  dist        3800 non-null   float64
 12  team        3800 non-null   object
 13  DAY & TIME  3800 non-null   object
dtypes: float64(3), int64(5), object(6)
memory usage: 415.8+ KB

In [33]:
PL_Season_19_20["team"].unique()

array(['Liverpool', 'Manchester City', 'Manchester United', 'Chelsea',
       'Leicester City', 'Tottenham Hotspur', 'Wolverhampton Wanderers',
       'Arsenal', 'Sheffield United', 'Burnley', 'Southampton', 'Everton',
       'Newcastle United', 'Crystal Palace', 'Brighton and Hove Albion',
       'West Ham United', 'Aston Villa', 'Bournemouth', 'Watford',
       'Norwich City'], dtype=object)

In [34]:
season_league_finish_23_24 = { 'Manchester City': 1, 'Arsenal': 2, 'Liverpool': 3, 'Aston Villa': 4,
                        'Tottenham Hotspur':5, 'Chelsea': 6, "Newcastle United":7, "Manchester United":8,
                        'West Ham United':9, 'Crystal Palace': 10, 'Brighton and Hove Albion': 11,
                        'Bournemouth':12, 'Fulham':13, 'Wolverhampton Wanderers':14, "Everton": 15,"Brentford":16,
                        'Nottingham Forest':17,'Luton Town':18, 'Burnley':19, 'Sheffield Utd':20
                        } 


season_league_finish_22_23 = { 'Manchester City':1, 'Arsenal':2, 'Manchester United':3,
                       'Newcastle United':4, 'Liverpool':5, 'Brighton and Hove Albion':6,
                       'Aston Villa':7, 'Tottenham Hotspur':8, 'Brentford':9, 'Fulham':10,
                       'Crystal Palace':11, 'Chelsea':12, 'Wolverhampton Wanderers':13,
                       'West Ham United':14, 'Bournemouth':15, 'Nottingham Forest':16, 'Everton':17,
                       'Leicester City':18, 'Leeds United':19, 'Southampton':20
                        }

season_league_finish_21_22 = { 'Manchester City':1, 'Liverpool':2, 'Chelsea':3, 'Tottenham Hotspur':4,
                       'Arsenal':5, 'Manchester United':6, 'West Ham United':7,
                       'Leicester City':8, 'Brighton and Hove Albion':9,
                       'Wolverhampton Wanderers':10, 'Newcastle United':11, 'Crystal Palace':12,
                       'Brentford':13, 'Aston Villa':14, 'Southampton':15, 'Everton':16,
                       'Leeds United':17, 'Burnley':18, 'Watford':19, 'Norwich City':20
                        }

season_league_finish_20_21 = { 'Manchester City':1, 'Manchester United':2, 'Liverpool':3, 'Chelsea':4,
                        'Leicester City':5, 'West Ham United':6, 'Tottenham Hotspur':7,
                        'Arsenal':8, 'Leeds United':9, 'Everton':10, 'Aston Villa':11,
                        'Newcastle United':12, 'Wolverhampton Wanderers':13, 'Crystal Palace':14,
                        'Southampton':15, 'Brighton and Hove Albion':16, 'Burnley':17, 'Fulham':18,
                        'West Bromwich Albion':19, 'Sheffield Utd':20
                        } 

season_league_finish_19_20 = {'Liverpool':1, 'Manchester City':2, 'Manchester United':3, 'Chelsea':4,
                       'Leicester City':5, 'Tottenham Hotspur':6, 'Wolverhampton Wanderers':7,
                       'Arsenal':8, 'Sheffield United':9, 'Burnley':10, 'Southampton':11, 'Everton':12,
                       'Newcastle United':13, 'Crystal Palace':14, 'Brighton and Hove Albion':15,
                       'West Ham United':16, 'Aston Villa':17, 'Bournemouth':18, 'Watford':19,
                       'Norwich City':20
                        }

# ***** find a way to map all the postional data to the all years dataset

In [35]:
PL_Season_23_24['Last_Season_position'] = PL_Season_23_24['opponent'].map(season_league_finish_23_24)
PL_Season_22_23['Last_Season_position'] = PL_Season_22_23['opponent'].map(season_league_finish_22_23)
PL_Season_21_22['Last_Season_position'] = PL_Season_21_22['opponent'].map(season_league_finish_21_22)
PL_Season_20_21['Last_Season_position'] = PL_Season_20_21['opponent'].map(season_league_finish_20_21)
PL_Season_19_20['Last_Season_position'] = PL_Season_20_21['opponent'].map(season_league_finish_19_20)



#PL_Season_23_24['Last_Season_position'].unique()

In [36]:
PL_Season_20_21.head()

,date,venue,result,gf,ga,opponent,xg,xga,poss,sh,sot,dist,team,DAY & TIME,Last_Season_position
0,2020-09-21,Away,W,3,1,Wolverhampton Wanderers,1.9,0.6,65,13,8,21.1,Manchester City,Mon 20:15,13
1,2020-09-27,Home,L,2,5,Leicester City,0.9,2.9,72,16,5,19.8,Manchester City,Sun 16:30,5
2,2020-10-03,Away,D,1,1,Leeds United,1.2,2.4,49,23,1,18.2,Manchester City,Sat 17:30,9
3,2020-10-17,Home,W,1,0,Arsenal,1.3,0.9,58,13,5,17.7,Manchester City,Sat 17:30,8
4,2020-10-24,Away,D,1,1,West Ham United,1.0,0.3,69,14,7,20.9,Manchester City,Sat 12:30,6

In [37]:
# #sorting out the time and day feature
# dropped_teams["DAY & TIME"] = dropped_teams['day'] + ' ' + dropped_teams['time']

# colDROPPING = dropped_teams[['day','time']]
# dropped_teams.drop(colDROPPING, axis=1, inplace=True)

In [38]:
# dropped_teams.drop_duplicates(subset = ["date", "team", "opponent", "DAY & TIME", "result"],inplace=True)
# dropped_teams.reset_index(drop=True, inplace=True)

In [39]:
dropped_teams["opponent"].unique()

array(['Wolverhampton Wanderers', 'Leicester City', 'Leeds United',
       'Arsenal', 'West Ham United', 'Sheffield Utd', 'Liverpool',
       'Tottenham Hotspur', 'Burnley', 'Fulham', 'Manchester United',
       'West Bromwich Albion', 'Southampton', 'Newcastle United',
       'Chelsea', 'Brighton and Hove Albion', 'Crystal Palace',
       'Aston Villa', 'Everton', 'Manchester City', 'Norwich City',
       'Bournemouth', 'Watford', 'Nottingham Forest', 'Luton Town',
       'Brentford'], dtype=object)

In [40]:
dropped_teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3800 entries, 0 to 3799
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        3800 non-null   object
 1   venue       3800 non-null   object
 2   result      3800 non-null   object
 3   gf          3800 non-null   int64
 4   ga          3800 non-null   int64
 5   opponent    3800 non-null   object
 6   xg          3800 non-null   float64
 7   xga         3800 non-null   float64
 8   poss        3800 non-null   int64
 9   sh          3800 non-null   int64
 10  sot         3800 non-null   int64
 11  dist        3800 non-null   float64
 12  team        3800 non-null   object
 13  DAY & TIME  3800 non-null   object
dtypes: float64(3), int64(5), object(6)
memory usage: 415.8+ KB

## ================================================================

# Enter Teams and Season Here:

In [41]:
Home_Team = 'Manchester United'
Away_Team =  'Arsenal'

Chosen_season = "Premier League All Seasons from 2019-2024"

# *======================================================*

In [42]:
#Defining a function to decide what season the data is pulled from

Seasons = ["Premier League Season 2019/2020", 
           "Premier League Season 2020/2021",
           "Premier League Season 2021/2022",
           "Premier League Season 2022/2023",
           "Premier League Season 2023/2024",
           "Premier League All Seasons from 2019-2024"]


def run_Season_dataset(Chosen_season):
        
    if Chosen_season == "Premier League Season 2019/2020":
        print("Running dataset containing data from 2019/2020 Season")
        return PL_Season_23_24
    
    elif Chosen_season == "Premier League Season 2020/2021":
        print("Running dataset containing data from 2020/2021 Season")
        return PL_Season_20_21
        
    elif Chosen_season == "Premier League Season 2021/2022":
        print("Running dataset containing data from 2021/2022 Season")
        return PL_Season_21_22
        
    elif Chosen_season == "Premier League Season 2022/2023":
        print("Running dataset containing data from 2022/2023 Season")
        return PL_Season_22_23
        
    elif Chosen_season == "Premier League Season 2023/2024":
        print("Running dataset containing data from 2023/2024 Season")
        return PL_Season_23_24
    
    else:
        print("Running dataset containing data from 2019 - 2024")
        return All_years

# result = run_Season_dataset(Chosen_season) 
# print(result)

# Wins by day to give insight into how team may perform on a given day or time

In [43]:
Prem_df_Match_Times_analysis = dropped_teams
Prem_df_Match_Times_analysis

,date,venue,result,gf,ga,opponent,xg,xga,poss,sh,sot,dist,team,DAY & TIME
0,2020-09-21,Away,W,3,1,Wolverhampton Wanderers,1.9,0.6,65,13,8,21.1,Manchester City,Mon 20:15
1,2020-09-27,Home,L,2,5,Leicester City,0.9,2.9,72,16,5,19.8,Manchester City,Sun 16:30
2,2020-10-03,Away,D,1,1,Leeds United,1.2,2.4,49,23,1,18.2,Manchester City,Sat 17:30
3,2020-10-17,Home,W,1,0,Arsenal,1.3,0.9,58,13,5,17.7,Manchester City,Sat 17:30
4,2020-10-24,Away,D,1,1,West Ham United,1.0,0.3,69,14,7,20.9,Manchester City,Sat 12:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3795,2020-07-07,Away,L,1,2,Watford,1.2,1.2,56,12,3,16.9,Norwich City,Tue 18:00
3796,2020-07-11,Home,L,0,4,West Ham United,0.6,3.5,53,11,2,19.8,Norwich City,Sat 12:30
3797,2020-07-14,Away,L,0,1,Chelsea,0.1,2.5,33,2,0,20.6,Norwich City,Tue 20:15
3798,2020-07-18,Home,L,0,2,Burnley,0.3,1.8,42,6,2,13.4,Norwich City,Sat 17:30
3799,2020-07-26,Away,L,0,5,Manchester City,1.0,3.2,27,5,4,19.8,Norwich City,Sun 16:00

In [44]:
wins_time = Prem_df_Match_Times_analysis[["gf","ga","date","DAY & TIME","result","opponent","venue","team"]]

In [45]:
team = wins_time[(wins_time["team"] == Home_Team)];

In [46]:
#team["TIME and DAY"] = team['day'] + ' ' + team['time']

In [47]:
day_results = team.value_counts()
DF_day_results = pd.DataFrame(day_results)
DF_day_results.reset_index(inplace=True)
DF_day_results

,gf,ga,date,DAY & TIME,result,opponent,venue,team,count
0,0,0,2020-02-01,Sat 17:30,D,Wolverhampton Wanderers,Home,Manchester United,1
1,2,2,2019-12-01,Sun 16:30,D,Aston Villa,Home,Manchester United,1
2,2,1,2022-11-13,Sun 16:30,W,Fulham,Away,Manchester United,1
3,2,1,2023-01-14,Sat 12:30,W,Manchester City,Home,Manchester United,1
4,2,1,2023-02-04,Sat 15:00,W,Crystal Palace,Home,Manchester United,1
...,...,...,...,...,...,...,...,...,...
185,1,1,2019-12-15,Sun 14:00,D,Everton,Home,Manchester United,1
186,1,1,2020-03-01,Sun 14:00,D,Everton,Away,Manchester United,1
187,1,1,2020-06-19,Fri 20:15,D,Tottenham Hotspur,Away,Manchester United,1
188,1,1,2020-07-22,Wed 18:00,D,West Ham United,Home,Manchester United,1
189,9,0,2021-02-02,Tue 20:15,W,Southampton,Home,Manchester United,1

## Check teams record agaisnt particular opponents on particular day/time

In [48]:
#Insert team in the opponnent varibale depending on who team is playing
Opponent = Away_Team
opponent_day_stats = DF_day_results[(DF_day_results["opponent"] == Opponent)]
opponent_day_stats.drop(columns = "count",inplace=True)
print(Home_Team, "Record Vs", Away_Team)
opponent_day_stats.reset_index(drop=True,inplace=True)
opponent_day_stats

Manchester United Record Vs Arsenal

   gf  ga        date DAY & TIME result opponent venue               team
0   2   3  2023-01-22  Sun 16:30      L  Arsenal  Away  Manchester United
1   3   2  2021-12-02  Thu 20:15      W  Arsenal  Home  Manchester United
2   3   1  2022-09-04  Sun 16:30      W  Arsenal  Home  Manchester United
3   0   2  2020-01-01  Wed 20:00      L  Arsenal  Away  Manchester United
4   0   1  2024-05-12  Sun 16:30      L  Arsenal  Home  Manchester United
5   0   0  2021-01-30  Sat 17:30      D  Arsenal  Away  Manchester United
6   0   1  2020-11-01  Sun 16:30      L  Arsenal  Home  Manchester United
7   1   3  2022-04-23  Sat 12:30      L  Arsenal  Away  Manchester United
8   1   3  2023-09-03  Sun 16:30      L  Arsenal  Away  Manchester United
9   1   1  2019-09-30  Mon 20:00      D  Arsenal  Home  Manchester United

# *======================================================*

# Overall stats per year

In [49]:
Prem_df_stats = run_Season_dataset(Chosen_season)

Running dataset containing data from 2019 - 2024

In [50]:
Prem_df_stats

,date,venue,result,gf,ga,opponent,xg,xga,poss,sh,sot,dist,team,DAY & TIME
0,2019-08-09,Home,W,4,1,Norwich City,1.8,0.9,57,15,7,17.1,Liverpool,Fri 20:00
1,2019-08-17,Away,W,2,1,Southampton,1.3,1.9,63,15,6,18.6,Liverpool,Sat 15:00
2,2019-08-24,Home,W,3,1,Arsenal,2.5,1.0,52,24,4,18.8,Liverpool,Sat 17:30
3,2019-08-31,Away,W,3,0,Burnley,1.0,0.9,63,15,7,21.0,Liverpool,Sat 17:30
4,2019-09-14,Home,W,3,1,Newcastle United,3.0,0.3,74,21,8,13.6,Liverpool,Sat 12:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3795,2024-04-24,Away,L,2,4,Manchester United,0.8,2.9,29,10,4,17.8,Sheffield United,Wed 20:00
3796,2024-04-27,Away,L,1,5,Newcastle United,1.5,3.1,40,15,4,13.5,Sheffield United,Sat 15:00
3797,2024-05-04,Home,L,1,3,Nottingham Forest,2.2,1.5,54,16,4,18.0,Sheffield United,Sat 15:00
3798,2024-05-11,Away,L,0,1,Everton,0.6,2.3,42,13,1,21.0,Sheffield United,Sat 15:00
3799,2024-05-19,Home,L,0,3,Tottenham Hotspur,1.0,3.1,25,6,1,18.0,Sheffield United,Sun 16:00

In [51]:
# COLS_TO_DROP_XG = Prem_df_stats[["time","day","fk"]]
# Prem_df_stats.drop(COLS_TO_DROP_XG, axis=1, inplace = True)
# Prem_df_stats.head()

In [52]:
TEAM_HOME = Prem_df_stats[(Prem_df_stats["team"] == Home_Team)]

In [53]:
home = "Home"
TEAM_stats_home = TEAM_HOME[(TEAM_HOME["venue"] == home)]
TEAM_stats_home.reset_index(drop=True, inplace=True)
TEAM_stats_home=TEAM_stats_home.drop_duplicates(subset="date")
TEAM_stats_home.reset_index(drop=True, inplace=True)
TEAM_stats_home.head()

,date,venue,result,gf,ga,opponent,xg,xga,poss,sh,sot,dist,team,DAY & TIME
0,2019-08-11,Home,W,4,0,Chelsea,2.2,1.0,46,10,4,17.6,Manchester United,Sun 16:30
1,2019-08-24,Home,L,1,2,Crystal Palace,2.5,1.1,71,21,3,17.0,Manchester United,Sat 15:00
2,2019-09-14,Home,W,1,0,Leicester City,1.2,0.6,42,9,4,23.8,Manchester United,Sat 15:00
3,2019-09-30,Home,D,1,1,Arsenal,0.9,1.9,55,16,4,22.3,Manchester United,Mon 20:00
4,2019-10-20,Home,D,1,1,Liverpool,0.7,1.2,34,7,2,21.6,Manchester United,Sun 16:30

In [54]:
TEAM_Away= Prem_df_stats[(Prem_df_stats["team"] == Away_Team)]
#TEAM_Away

In [55]:
away = "Away"
TEAM_stats_away = TEAM_Away[(TEAM_Away["venue"] == away)]
TEAM_stats_away.reset_index(drop=True, inplace=True)
TEAM_stats_away=TEAM_stats_away.drop_duplicates(subset="date")
TEAM_stats_away.reset_index(drop=True, inplace=True)
TEAM_stats_away.head()

,date,venue,result,gf,ga,opponent,xg,xga,poss,sh,sot,dist,team,DAY & TIME
0,2019-08-11,Away,W,1,0,Newcastle United,1.1,0.4,62,8,2,13.9,Arsenal,Sun 14:00
1,2019-08-24,Away,L,1,3,Liverpool,1.0,2.5,48,9,3,19.0,Arsenal,Sat 17:30
2,2019-09-15,Away,D,2,2,Watford,0.8,2.7,48,7,4,20.8,Arsenal,Sun 16:30
3,2019-09-30,Away,D,1,1,Manchester United,1.9,0.9,45,10,5,16.6,Arsenal,Mon 20:00
4,2019-10-21,Away,L,0,1,Sheffield Utd,1.0,0.9,67,9,3,18.8,Arsenal,Mon 20:00

In [56]:
#Average amount of expected goals scored by away team in season
awayGames = TEAM_stats_away["opponent"].count()
totalXG_away = TEAM_stats_away["xg"].sum()
avgXG_Away = totalXG_away/awayGames

#Average amount of expected goals conceded by away team in season
totalXGa_away = TEAM_stats_away["xga"].sum()
avgXGa_Away = totalXGa_away/awayGames

#Average amount of actual goals scored by away team in season
totalGF_Away = TEAM_stats_away["gf"].sum()
avgGF_Away = totalGF_Away/awayGames

#Average amount of actual goals conceded by away team in season
totalGA_Away = TEAM_stats_away["ga"].sum()
avgGA_Away = totalGA_Away/awayGames

#Average possesion by away team in season
totalPossAway = TEAM_stats_away["poss"].sum()
avgPoss_Away = totalPossAway/awayGames

#Average shots/shots on target by away team in season
totalshotsAway = TEAM_stats_away["sh"].sum()
avgShots_Away = totalshotsAway/awayGames

totalshotsOnTargetAway = TEAM_stats_away["sot"].sum()
avgshotsOnTarget_Away = totalshotsOnTargetAway/awayGames

#Precentage of shot going on target
shotsPercentAway = avgshotsOnTarget_Away/avgShots_Away*100

#Average shooting distance
totalDistAway = TEAM_stats_away["dist"].sum()
avgDist_Away = totalDistAway/awayGames

In [57]:
#Average amount of expected goals scored by home team in season
homeGames = TEAM_stats_home["opponent"].count()
totalXG_Home = TEAM_stats_home["xg"].sum()
avgXG_Home = totalXG_Home/homeGames

#Average amount of expected goals conceded by home team in season
totalXGa_Home = TEAM_stats_home["xga"].sum()
avgXGa_Home = totalXGa_Home/homeGames

#Average amount of actual goals scored by home team in season
totalGF_Home = TEAM_stats_home["gf"].sum()
avgGF_Home = totalGF_Home/homeGames

#Average amount of actual goals conceded by home team in season
totalGA_Home = TEAM_stats_home["ga"].sum()
avgGA_Home = totalGA_Home/homeGames

#Average possesion by home team in season
totalPoss = TEAM_stats_home["poss"].sum()
avgPoss_Home = totalPoss/homeGames

#Average shots/shots on target by home team in season
totalshots = TEAM_stats_home["sh"].sum()
avgShots_Home = totalshots/homeGames

totalshotsOnTarget = TEAM_stats_home["sot"].sum()
avgshotsOnTarget_Home = totalshotsOnTarget/homeGames

#Precentage of shot going on target
shotsPercent = avgshotsOnTarget_Home/avgShots_Home*100

#Average shooting distance
totalDist = TEAM_stats_home["dist"].sum()
avgDist_Home = totalDist/homeGames

# ===========================================================

# Team vs Opponent Full Statistical Report

In [58]:
teamStats_VS_Record = dropped_teams#[["date","team","opponent","venue","result","gf","ga","formation","xg","xga","poss","sh","sot","dist","fk","pk","pkatt"]]
teamStats_VS_Record[["fk","pk","pkatt","formation"]] = PREM_df_Full[["fk","pk","pkatt","formation"]]

In [59]:
dropped_teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3800 entries, 0 to 3799
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        3800 non-null   object
 1   venue       3800 non-null   object
 2   result      3800 non-null   object
 3   gf          3800 non-null   int64
 4   ga          3800 non-null   int64
 5   opponent    3800 non-null   object
 6   xg          3800 non-null   float64
 7   xga         3800 non-null   float64
 8   poss        3800 non-null   int64
 9   sh          3800 non-null   int64
 10  sot         3800 non-null   int64
 11  dist        3800 non-null   float64
 12  team        3800 non-null   object
 13  DAY & TIME  3800 non-null   object
 14  fk          3800 non-null   int64
 15  pk          3800 non-null   int64
 16  pkatt       3800 non-null   int64
 17  formation   3800 non-null   object
dtypes: float64(3), int64(8), object(7)
memory usage: 534.5+ KB

In [60]:
teamStats_VS_Record["opponent"].unique()

array(['Wolverhampton Wanderers', 'Leicester City', 'Leeds United',
       'Arsenal', 'West Ham United', 'Sheffield Utd', 'Liverpool',
       'Tottenham Hotspur', 'Burnley', 'Fulham', 'Manchester United',
       'West Bromwich Albion', 'Southampton', 'Newcastle United',
       'Chelsea', 'Brighton and Hove Albion', 'Crystal Palace',
       'Aston Villa', 'Everton', 'Manchester City', 'Norwich City',
       'Bournemouth', 'Watford', 'Nottingham Forest', 'Luton Town',
       'Brentford'], dtype=object)

In [61]:
teamStats_VS_Record.head()

,date,venue,result,gf,ga,opponent,xg,xga,poss,sh,sot,dist,team,DAY & TIME,fk,pk,pkatt,formation
0,2020-09-21,Away,W,3,1,Wolverhampton Wanderers,1.9,0.6,65,13,8,21.1,Manchester City,Mon 20:15,2,1,1,4-2-3-1
1,2020-09-27,Home,L,2,5,Leicester City,0.9,2.9,72,16,5,19.8,Manchester City,Sun 16:30,1,0,0,4-2-3-1
2,2020-10-03,Away,D,1,1,Leeds United,1.2,2.4,49,23,1,18.2,Manchester City,Sat 17:30,1,0,0,4-3-3
3,2020-10-17,Home,W,1,0,Arsenal,1.3,0.9,58,13,5,17.7,Manchester City,Sat 17:30,0,0,0,3-1-4-2
4,2020-10-24,Away,D,1,1,West Ham United,1.0,0.3,69,14,7,20.9,Manchester City,Sat 12:30,1,0,0,4-3-3

In [62]:
# #Filling two nan values in distance col with mean
# dist_mean=teamStats_VS_Record["dist"].mean()
# teamStats_VS_Record["dist"].fillna(dist_mean, inplace=True)

In [63]:
teamStats_VS_Record.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3800 entries, 0 to 3799
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        3800 non-null   object
 1   venue       3800 non-null   object
 2   result      3800 non-null   object
 3   gf          3800 non-null   int64
 4   ga          3800 non-null   int64
 5   opponent    3800 non-null   object
 6   xg          3800 non-null   float64
 7   xga         3800 non-null   float64
 8   poss        3800 non-null   int64
 9   sh          3800 non-null   int64
 10  sot         3800 non-null   int64
 11  dist        3800 non-null   float64
 12  team        3800 non-null   object
 13  DAY & TIME  3800 non-null   object
 14  fk          3800 non-null   int64
 15  pk          3800 non-null   int64
 16  pkatt       3800 non-null   int64
 17  formation   3800 non-null   object
dtypes: float64(3), int64(8), object(7)
memory usage: 534.5+ KB

In [64]:
teamStats_VS_Record

,date,venue,result,gf,ga,opponent,xg,xga,poss,sh,sot,dist,team,DAY & TIME,fk,pk,pkatt,formation
0,2020-09-21,Away,W,3,1,Wolverhampton Wanderers,1.9,0.6,65,13,8,21.1,Manchester City,Mon 20:15,2,1,1,4-2-3-1
1,2020-09-27,Home,L,2,5,Leicester City,0.9,2.9,72,16,5,19.8,Manchester City,Sun 16:30,1,0,0,4-2-3-1
2,2020-10-03,Away,D,1,1,Leeds United,1.2,2.4,49,23,1,18.2,Manchester City,Sat 17:30,1,0,0,4-3-3
3,2020-10-17,Home,W,1,0,Arsenal,1.3,0.9,58,13,5,17.7,Manchester City,Sat 17:30,0,0,0,3-1-4-2
4,2020-10-24,Away,D,1,1,West Ham United,1.0,0.3,69,14,7,20.9,Manchester City,Sat 12:30,1,0,0,4-3-3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3795,2020-07-07,Away,L,1,2,Watford,1.2,1.2,56,12,3,16.9,Norwich City,Tue 18:00,1,0,0,4-3-3
3796,2020-07-11,Home,L,0,4,West Ham United,0.6,3.5,53,11,2,19.8,Norwich City,Sat 12:30,1,0,1,4-3-3
3797,2020-07-14,Away,L,0,1,Chelsea,0.1,2.5,33,2,0,20.6,Norwich City,Tue 20:15,2,0,0,4-3-3
3798,2020-07-18,Home,L,0,2,Burnley,0.3,1.8,42,6,2,13.4,Norwich City,Sat 17:30,0,0,0,4-3-3
3799,2020-07-26,Away,L,0,5,Manchester City,1.0,3.2,27,5,4,19.8,Norwich City,Sun 16:00,1,0,0,4-3-3

In [65]:
team__HOME = teamStats_VS_Record[(teamStats_VS_Record["team"] == Home_Team)];

In [66]:
team__VS = team__HOME[(team__HOME["opponent"] == Away_Team)];
team__VS_HOME = team__VS[(team__VS["venue"] == "Home")]
team__VS_HOME

,date,venue,result,gf,ga,opponent,xg,xga,poss,sh,sot,dist,team,DAY & TIME,fk,pk,pkatt,formation
43,2020-11-01,Home,L,0,1,Arsenal,0.4,1.0,54,8,2,19.9,Manchester United,Sun 16:30,0,0,0,4-1-2-1-2
842,2019-09-30,Home,D,1,1,Arsenal,0.9,1.9,55,16,4,22.3,Manchester United,Mon 20:00,1,0,0,4-2-3-1
1289,2024-05-12,Home,L,0,1,Arsenal,0.5,1.5,54,14,2,22.9,Manchester United,Sun 16:30,0,0,0,4-2-3-1
1829,2022-09-04,Home,W,3,1,Arsenal,1.5,1.3,40,10,6,15.5,Manchester United,Sun 16:30,0,0,0,4-2-3-1
2711,2021-12-02,Home,W,3,2,Arsenal,1.9,1.4,44,13,9,19.7,Manchester United,Thu 20:15,0,1,1,4-2-3-1

In [67]:
team__AWAY = teamStats_VS_Record[(teamStats_VS_Record["team"] == Away_Team)];
team__AWAY

,date,venue,result,gf,ga,opponent,xg,xga,poss,sh,sot,dist,team,DAY & TIME,fk,pk,pkatt,formation
266,2020-09-12,Away,W,3,0,Fulham,1.9,0.1,54,13,5,14.1,Arsenal,Sat 12:30,2,0,0,3-4-3
267,2020-09-19,Home,W,2,1,West Ham United,1.1,2.0,62,7,3,14.8,Arsenal,Sat 20:00,0,0,0,3-4-3
268,2020-09-28,Away,L,1,3,Liverpool,1.3,2.7,34,4,3,15.0,Arsenal,Mon 20:00,0,0,0,3-4-3
269,2020-10-04,Home,W,2,1,Sheffield Utd,0.6,0.2,64,6,5,16.3,Arsenal,Sun 14:00,0,0,0,4-3-3
270,2020-10-17,Away,L,0,1,Manchester City,0.9,1.3,42,11,3,18.4,Arsenal,Sat 17:30,2,0,0,4-3-3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3339,2020-07-07,Home,D,1,1,Leicester City,1.1,0.9,39,11,7,16.3,Arsenal,Tue 20:15,0,1,1,4-2-3-1
3340,2020-07-12,Away,L,1,2,Tottenham Hotspur,0.6,2.0,62,13,4,19.2,Arsenal,Sun 16:30,0,0,0,4-2-3-1
3341,2020-07-15,Home,W,2,1,Liverpool,0.8,2.1,32,3,2,12.4,Arsenal,Wed 20:15,1,0,0,4-2-3-1
3342,2020-07-21,Away,L,0,1,Aston Villa,0.6,0.6,69,7,0,15.3,Arsenal,Tue 20:15,2,0,0,4-2-3-1
3343,2020-07-26,Home,W,3,2,Watford,2.3,3.7,50,12,4,14.1,Arsenal,Sun 16:00,0,1,1,4-2-3-1

In [68]:
opponent__VS = team__AWAY[(team__AWAY["opponent"] == Home_Team)];
team__VS_AWAY = opponent__VS[(opponent__VS["venue"] == "Away")]
team__VS_AWAY

,date,venue,result,gf,ga,opponent,xg,xga,poss,sh,sot,dist,team,DAY & TIME,fk,pk,pkatt,formation
272,2020-11-01,Away,W,1,0,Manchester United,1.0,0.4,46,6,1,24.6,Arsenal,Sun 16:30,0,1,1,3-4-3
1062,2024-05-12,Away,W,1,0,Manchester United,1.5,0.5,46,11,5,13.4,Arsenal,Sun 16:30,0,0,0,4-3-3
1791,2022-09-04,Away,L,1,3,Manchester United,1.3,1.5,60,16,3,18.6,Arsenal,Sun 16:30,1,0,0,4-3-3
2673,2021-12-02,Away,L,2,3,Manchester United,1.4,1.9,56,17,7,16.5,Arsenal,Thu 20:15,1,0,0,4-4-1-1
3312,2019-09-30,Away,D,1,1,Manchester United,1.9,0.9,45,10,5,16.6,Arsenal,Mon 20:00,2,0,0,4-2-3-1

In [69]:
#AWAY_Team_PERF = Prem_df[Prem_df["Venue"] == "Home"].groupby("Team")["Result"].apply(lambda x: (x == "W").sum())

In [70]:
HOME_mean = team__VS_HOME[["gf","ga","xg","xga", "poss","sh","sot","dist"]].mean()
HOME_mean

gf       1.40
ga       1.20
xg       1.04
xga      1.42
poss    49.40
sh      12.20
sot      4.60
dist    20.06
dtype: float64

In [71]:
AWAY_mean = team__VS_AWAY[["gf","ga","xg","xga", "poss","sh","sot","dist"]].mean()
AWAY_mean

gf       1.20
ga       1.40
xg       1.42
xga      1.04
poss    50.60
sh      12.00
sot      4.20
dist    17.94
dtype: float64

In [72]:
Home_record = team__VS_HOME["result"].value_counts()
Away_record = team__VS_AWAY["result"].value_counts()

In [73]:
#full record of matches - time and day etc.
print('\033[1m',Home_Team, "Record Vs", Away_Team,'\033[0m')
print("\n")
print(opponent_day_stats)
print("\n")

#HOME VS AWAY statistical stuff
print('\033[1m', Home_Team, "overall Home stats VS", Away_Team, "from 2019 - 2024:", '\033[0m',)
print(("\n"))
print(HOME_mean)
print("\n")
print(Home_record)
print("\n")
print('\033[1m', Away_Team, "overall Away stats VS", Home_Team, "from 2019 - 2024:", '\033[0m',)
print(("\n"))

#Home vs away results count
print(AWAY_mean)
print("\n")
print(Away_record)
print("\n")

#Overall home stats
print('\033[1m',Home_Team, "HOME STATS for: ", Chosen_season,'\033[0m')
print("\n")
print("Average Home Xg for Season: {:.2f}".format(avgXG_Home))
print("Average Home Xga for Season: {:.2f}".format(avgXGa_Home))
print("=====================================================")
print("Average of Actual Home Goals Scored for Season: {:.2f}".format(avgGF_Home))
print("Average of Actual Home Goals Conceded: {:.2f}".format(avgGA_Home))
print("=====================================================")
print("Average Home Possession for Season: {:.0f}".format(avgPoss_Home),"%")
print("=====================================================")
print("Average Home Shots for Season: {:.0f}".format(avgShots_Home))
print("Average Home Shots on Target for Season: {:.0f}".format(avgshotsOnTarget_Home))
print("Average Home Shots on Target Percentage: {:.0f}".format(shotsPercent),"%")
print("Average Home Shots Distance From Goal: {:.2f}".format(avgDist_Home),"Metres")
print("\n")

#Overall away stats
print('\033[1m', Away_Team, "AWAY STATS for:", Chosen_season,'\033[0m')
print("\n")
print("Average Away Xg for Season: {:.2f}".format(avgXG_Away))
print("Average Away Xga for Season: {:.2f}".format(avgXGa_Away))
print("=====================================================")
print("Average of Actual Away Goals Scored for Season: {:.2f}".format(avgGF_Away))
print("Average of Actual Away Goals Conceded: {:.2f}".format(avgGA_Away))
print("=====================================================")
print("Average Away Possession for Season: {:.0f}".format(avgPoss_Away),"%")
print("=====================================================")
print("Average Away Shots for Season: {:.0f}".format(avgShots_Away))
print("Average Away Shots on Target for Season: {:.0f}".format(avgshotsOnTarget_Away))
print("Average Away Shots on Target Percentage: {:.0f}".format(shotsPercentAway),"%")
print("Average Away Shots Distance From Goal: {:.2f}".format(avgDist_Away),"Metres")

 Manchester United Record Vs Arsenal


   gf  ga        date DAY & TIME result opponent venue               team
0   2   3  2023-01-22  Sun 16:30      L  Arsenal  Away  Manchester United
1   3   2  2021-12-02  Thu 20:15      W  Arsenal  Home  Manchester United
2   3   1  2022-09-04  Sun 16:30      W  Arsenal  Home  Manchester United
3   0   2  2020-01-01  Wed 20:00      L  Arsenal  Away  Manchester United
4   0   1  2024-05-12  Sun 16:30      L  Arsenal  Home  Manchester United
5   0   0  2021-01-30  Sat 17:30      D  Arsenal  Away  Manchester United
6   0   1  2020-11-01  Sun 16:30      L  Arsenal  Home  Manchester United
7   1   3  2022-04-23  Sat 12:30      L  Arsenal  Away  Manchester United
8   1   3  2023-09-03  Sun 16:30      L  Arsenal  Away  Manchester United
9   1   1  2019-09-30  Mon 20:00      D  Arsenal  Home  Manchester United


 Manchester United overall Home stats VS Arsenal from 2019 - 2024:


gf       1.40
ga       1.20
xg       1.04
xga      1.42
poss    49.40
sh      12.20
sot      4.60
dist    20.06
dtype: float64


result
L    2
W    2
D    1
Name: count, dtype: int64


 Arsenal overall Away stats VS Manchester United from 2019 - 2024:


gf       1.20
ga       1.40
xg       1.42
xga      1.04
poss    50.60
sh      12.00
sot      4.20
dist    17.94
dtype: float64


result
W    2
L    2
D    1
Name: count, dtype: int64


 Manchester United HOME STATS for:  Premier League All Seasons from 2019-2024


Average Home Xg for Season: 1.77
Average Home Xga for Season: 1.18
=====================================================
Average of Actual Home Goals Scored for Season: 1.86
Average of Actual Home Goals Conceded: 1.11
=====================================================
Average Home Possession for Season: 55 %
=====================================================
Average Home Shots for Season: 16
Average Home Shots on Target for Season: 6
Average Home Shots on Target Percentage: 35 %
Average Home Shots Distance From Goal: 17.88 Metres


 Arsenal AWAY STATS for: Premier League All Seasons from 2019-2024


Average Away Xg for Season: 1.41
Average Away Xga for Season: 1.17
=====================================================
Average of Actual Away Goals Scored for Season: 1.63
Average of Actual Away Goals Conceded: 1.09
=====================================================
Average Away Possession for Season: 54 %
=====================================================
Average Away Shots for Season: 12
Average Away Shots on Target for Season: 4
Average Away Shots on Target Percentage: 32 %
Average Away Shots Distance From Goal: 16.80 Metres

# Teams vs Opponents based on league positions

In [74]:
prem_positions = run_Season_dataset(Chosen_season)

Running dataset containing data from 2019 - 2024

In [75]:
prem_positions.head()

,date,venue,result,gf,ga,opponent,xg,xga,poss,sh,sot,dist,team,DAY & TIME
0,2019-08-09,Home,W,4,1,Norwich City,1.8,0.9,57,15,7,17.1,Liverpool,Fri 20:00
1,2019-08-17,Away,W,2,1,Southampton,1.3,1.9,63,15,6,18.6,Liverpool,Sat 15:00
2,2019-08-24,Home,W,3,1,Arsenal,2.5,1.0,52,24,4,18.8,Liverpool,Sat 17:30
3,2019-08-31,Away,W,3,0,Burnley,1.0,0.9,63,15,7,21.0,Liverpool,Sat 17:30
4,2019-09-14,Home,W,3,1,Newcastle United,3.0,0.3,74,21,8,13.6,Liverpool,Sat 12:30

In [76]:
prem_positions["opponent"].unique()

array(['Norwich City', 'Southampton', 'Arsenal', 'Burnley',
       'Newcastle United', 'Chelsea', 'Sheffield Utd', 'Leicester City',
       'Manchester United', 'Tottenham Hotspur', 'Aston Villa',
       'Manchester City', 'Crystal Palace', 'Brighton and Hove Albion',
       'Everton', 'Bournemouth', 'Watford', 'Wolverhampton Wanderers',
       'West Ham United', 'Liverpool', 'Leeds United', 'Fulham',
       'West Bromwich Albion', 'Brentford', 'Nottingham Forest',
       'Luton Town'], dtype=object)

In [77]:
HOME_team_Perf = prem_positions[(prem_positions["team"] == Home_Team)]
team_PerformanceVS_prem_positions = HOME_team_Perf[(HOME_team_Perf["venue"] == "Home")]

# ******* uncomment this cell when all years has been sorted

In [79]:
# #Home Team performance vs top 4 teams from 2023/2024
# HOME_team_PerformanceVS_top4 = team_PerformanceVS_prem_positions[(team_PerformanceVS_prem_positions["Last_Season_position"] >= 1) & (team_PerformanceVS_prem_positions["Last_Season_position"] <= 4)];

# #Home Team performance vs outiside top 4 teams from 2023/2024
# HOME_team_PerformanceVS_TopMidTable = team_PerformanceVS_prem_positions[(team_PerformanceVS_prem_positions["Last_Season_position"] >= 5) & (team_PerformanceVS_prem_positions["Last_Season_position"] <= 9)];

# #Home Team performance vs mid table from 2023/2024
# HOME_team_PerformanceVS_midTable = team_PerformanceVS_prem_positions[(team_PerformanceVS_prem_positions["Last_Season_position"] >= 10) & (team_PerformanceVS_prem_positions["Last_Season_position"] <= 13)];

# #Home Team performance vs bottom teams from 2023/2024
# HOME_team_PerformanceVS_bottomTable = team_PerformanceVS_prem_positions[(team_PerformanceVS_prem_positions["Last_Season_position"] >= 14) & (team_PerformanceVS_prem_positions["Last_Season_position"] <= 20)];

In [80]:
#HOME_team_PerformanceVS_top4
#HOME_team_PerformanceVS_TopMidTable
#HOME_team_PerformanceVS_midTable
#HOME_team_PerformanceVS_bottomTable

NameError: name 'HOME_team_PerformanceVS_TopMidTable' is not defined